.FeatureCard-AssertionGroup {
  padding: var(--g-spacing-6);
  padding-top: 0;
}

.FeatureCard-AssertionGroupTitle {
  margin-bottom: var(--g-spacing-4);

  font: var(--sb-font-subheader-l);
  word-break: break-word;
}

.FeatureCard-Assertions {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-2);
}
