.FeatureCard-Badge {
  background-color: var(--g-color-base-danger-heavy);

  width: 8px;
  height: 8px;
  border-radius: 50%;

  display: inline-block;
  vertical-align: middle;
}

.FeatureCard-Badge_automated {
  background-color: var(--g-color-base-positive-medium);
}

.FeatureCard-Badge_problem {
  background-color: var(--g-color-base-warning-heavy);
}
