.FeatureCard-Badge {
  color: var(--g-color-base-danger-heavy);

  display: inline-block;
  vertical-align: middle;
}

.FeatureCard-Badge_automated {
  color: var(--g-color-base-positive-medium);
}

.FeatureCard-Badge_problem {
  color: var(--g-color-base-warning-heavy);
}
