.FeatureCard-Stat {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-2);

    padding: var(--g-spacing-4);

    border-radius: var(--g-border-radius-l);
    background-color: var(--g-color-base-background);
}

.FeatureCard-StatLabel {
    font: var(--sb-font-body-s);

    color: var(--g-color-text-secondary);
}

.FeatureCard-StatInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--g-spacing-2);
}

.FeatureCard-StatRate {
    font: var(--sb-font-header-s);
}

.FeatureCard-StatCount {
    color: var(--g-color-text-secondary);
}
