.FeatureCard-Header {
  display: flex;
  flex-direction: row;
  gap: var(--g-spacing-6);

  padding: var(--g-spacing-6);
}

.FeatureCard-HeaderBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--g-spacing-4);
}

.FeatureCard-HeaderContent {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-2);
}

.FeatureCard-Stat {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-2);

  padding: var(--g-spacing-4);

  border-radius: var(--g-border-radius-m);
  background-color: var(--g-color-base-background);
}

.FeatureCard-StatLabel {
  font: var(--sb-font-body-s);

  color: var(--g-color-text-secondary);
}

.FeatureCard-StatInfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--g-spacing-2);
}

.FeatureCard-StatRate {
  font: var(--sb-font-subheader-m);
}

.FeatureCard-StatCount {
  color: var(--g-color-text-secondary);
}

.FeatureCard-Title {
  font: var(--sb-font-subheader-m);
  word-break: break-word;
}

.FeatureCard-Description,
.FeatureCard-AssertionDescription {
  font: var(--sb-font-body-s);

  color: var(--g-color-text-secondary);
}

.FeatureCard-Code {
  font: var(--sb-font-body-s);
}

.FeatureCard-AssertionGroup {
  padding: var(--g-spacing-6);
  padding-top: 0;
}

.FeatureCard-AssertionGroupTitle {
  margin-bottom: var(--g-spacing-4);

  font: var(--sb-font-subheader-m);
  word-break: break-word;
}

.FeatureCard-Assertions {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-2);
}

.FeatureCard-Assertion {
  display: flex;
  flex-direction: row;
  gap: var(--g-spacing-2);
}

.FeatureCard-AssertionContent {
  flex: 1;
}

.FeatureCard-AssertionTitle {
  word-break: break-word;
}

.FeatureCard-AssertionTitle::first-letter {
  text-transform: uppercase;
}

.FeatureCard-AssertionBadge .Badge-Dot {
  /* костыль — лезем в кишки стороннего компонента */
  padding: 0;

  background-clip: content-box;
}
