.FeatureCard {
  width: 100%;
}

.FeatureCard_Loading .g-skeleton {
  display: block;
}

.FeatureCard-EmptyState {
  flex: 1;
}

.FeatureCard-Back {
  position: absolute;
  margin: var(--g-spacing-5);
  z-index: 1;
}
