.Project {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  min-height: 0;
  gap: var(--g-spacing-6);
}

.Project-ListPanel,
.Project-DetailsPanel {
  display: flex;
  flex: 1;

  padding: var(--sb-outline-width);
  overflow-y: auto;
}

.Project-ListPanel {
  flex-direction: column;
  gap: var(--g-spacing-4);
}

.Project-DetailsPanel {
  border-radius: var(--sb-border-radius-3-xl);
  background-color: var(--g-color-base-generic);
}
