.ProjectFeatures-Item {
    display: flex;
    flex-direction: row;

    user-select: none;
}

.ProjectFeatures-FeatureIcon,
.ProjectFeatures-CollapseIcon {
    display: inline-block;

    vertical-align: middle;
}

.ProjectFeatures-ItemContent {
    flex: 1;
}
