.ProjectFeatures-TreeNode {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--g-spacing-2) var(--g-spacing-3);

  cursor: pointer;

  border-radius: var(--g-border-radius-l);
  gap: var(--g-spacing-2);
}

.ProjectFeatures-TreeNode:focus-visible {
  outline: 2px solid var(--g-color-line-focus);
}

.ProjectFeatures-TreeNode:hover {
  background-color: var(--g-color-base-generic);
}

.ProjectFeatures-TreeNodeText {
  flex: 1;
}

.ProjectFeatures-TreeNode_active {
  background-color: var(--g-color-base-generic);
}
