.ListItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 var(--g-spacing-4);

    cursor: pointer;

    border-radius: var(--sb-border-radius-2-xl);
    gap: var(--g-spacing-2);

    font: var(--sb-font-body-s);
    text-decoration: none;
    color: var(--g-color-text-primary);
    user-select: none;
}

.ListItem:focus-visible {
    outline: var(--sb-outline-width) solid var(--g-color-line-focus);
}

.ListItem:hover {
    background-color: var(--g-color-base-generic);
}

.ListItem-Before,
.ListItem-After,
.ListItem-Content {
    padding: 9px 0;
}

.ListItem-Content {
    flex: 1;
}

.ListItem_view_normal {
    background-color: var(--g-color-base-generic);
}

.ListItem_view_flat {
    background-color: transparent;
}

.ListItem_view_flat:hover {
    background-color: var(--g-color-base-generic);
}

.ListItem_view_normal.ListItem_state_active,
.ListItem_view_flat.ListItem_state_active {
    background-color: var(--g-color-base-generic);
}
