.Chart-Layout {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-4);

  padding: var(--g-spacing-6);

  border-radius: var(--sb-border-radius-3-xl);
  background-color: var(--g-color-base-generic);
}

.Chart-Loader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  justify-self: stretch;

  color: var(--g-color-text-secondary);
}

.Chart-Title {
  font: var(--sb-font-subheader-l);
  font-weight: normal;
}

.Chart-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Chart-Content {
  position: relative;
  aspect-ratio: 2;

  display: flex;
  overflow: hidden;
}
