.Chart-Legend {
  display: flex;
  flex-direction: row;
  gap: var(--g-spacing-4);
}

.Chart-LegendBadge {
  width: 8px;
  height: 8px;

  border-radius: 50%;
}

.Chart-LegendItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--g-spacing-2);
}
