.Graph .graphin-components-contextmenu {
  border-radius: 16px;
  width: auto !important;
  max-width: 360px;
  background-color: var(--g-color-base-background) !important;
}
.Graph .graphin-core {
  background-color: var(--g-color-base-background) !important;
}

.Graph {
  width: 100%;
  height: 100%;
  overflow: hidden;
}