.ProjectLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: var(--g-color-base-background);

  max-height: 100vh;
  box-sizing: border-box;
}

.ProjectLayout-Content {
  flex: 1;
  min-height: 0;
  padding: var(--g-spacing-8);
  padding-top: var(--g-spacing-2);
}
