.ProjectLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.ProjectLayout-Header {
  padding: var(--g-spacing-4) var(--g-spacing-8);

  display: flex;
  gap: var(--g-spacing-6);
}

.ProjectLayout-Navigation {
  display: flex;
  flex-direction: row;
  gap: var(--g-spacing-2);
}

.ProjectLayout-Content {
  flex: 1;
  min-height: 0;
  padding: var(--g-spacing-8);
  padding-top: var(--g-spacing-2);
}
