.ItemStat-Content {
  display: flex;
  flex-direction: row;
}

.ItemStat-Content_state_normal {
  color: var(--g-color-text-secondary);
}

.ItemStat-Content_state_warning {
  color: var(--g-color-text-danger);
}

.ItemStat-Value {
  min-width: 4em;
  text-align: right;
  white-space: nowrap;
}
